/* {{{ */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

/* }}} */

html, body {
	height:100%;
}

body {
	background-color: rgb(255, 255, 255);
	color: black;
	font-family: 'Arimo', sans-serif, 'Arial';
	font-size: 12pt;
}

header {
	background-color: black;
	height: 500px;
	background-image: url("img/citybackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

nav {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	width: 100%;
	height: 50px;
}

nav ul li {
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	padding: 0 20px;
	color: white;
	line-height: 50px;
}

nav ul li:hover {
	background-color: rgba(145, 145, 145, 0.3);
	transition: ease-in-out 100ms;
}

#container {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 100px;
}

section div {
	background-color: white;
	padding: 10px;
}

.top {
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 255, 255);
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
	/* border: 1px solid #cccccc; */
}

.top .portrait {
	margin: 5px;
	/* padding-bottom: 20px; */
	width: 25%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cccccc;
}

.top .portrait:hover {
	border: 1px solid #777777;
}

.top .portrait img {
	width: 100%;
}

.top .summary {
	padding: 20px 20px 20px 20px;
	margin: 5px;
	width: 100%;
	line-height: 1.10;
}

.bottom {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.bottom .gallery {
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #cccccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 0 0 15px 0;
}

.bottom .gallery:hover {
	border: 1px solid #777777;
}

.gallery img {
	width: 100%;
	height: auto;
	padding: 0;
.column {
    position: relative; /* Ensure positioning for tooltips */
}

.column img {
    position: relative; /* Ensure positioning relative to the image */
    cursor: pointer;
}

.column img::after {
    content: attr(data-title); /* Fetch the tooltip text from the data-title attribute */
    position: absolute;
    bottom: 5px; /* Position tooltip slightly above the bottom of the image */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) translateY(10px); /* Offset for animation */
    background-color: rgba(0, 0, 0, 0.75); /* Dark semi-transparent background */
    color: white; /* White text */
    padding: 5px 10px; /* Spacing around text */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Adjust font size */
    white-space: nowrap; /* Prevent text wrapping */
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially not visible */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Smooth fade-in */
    z-index: 10; /* Ensure it appears above other elements */
}

.column img:hover::after {
    opacity: 1; /* Make visible on hover */
    visibility: visible; /* Ensure visibility */
    transform: translateX(-50%) translateY(0); /* Reset animation offset */
}
 
